body {
  /*background-color: green;*/
}
#board {
  background-color: rgb(80, 180, 80);
  width: 600px;
  height: 600px;
}
.tile {
  background-color: rgb(80, 80, 180);
  width: 58px;
  height: 58px;
  float: left;
  margin: 1px;
}
.tile:hover {
  background-color: rgb(100, 100, 200)
}
.row{
  background-color: yellow;
  display: block;
  clear: left;
}
