body {
  background-color: grey;
}
#gameWindow {
  background-color: rgb(90, 180, 210);
  width: 100%;
  text-align: center;
  /*text-align: center;*/
}
#hud {
  display: block;
  background-color: purple;
}
/* HUD */
.timer, #bomb-toggle {
  display: inline-block;
  margin: 1px 0 1px 0;
}
.timer {
  height: 58px;
  width: 35%;
  background-color: rgb(90, 180, 210);
}
#bomb-toggle {
  width: 25%;
}
/* hud */

#board {
  display: inline-block;
  width: 600px;
  height: 100%;
  background-color: rgb(224, 224, 224);
  padding: 1px;
  margin: 20px;
}
#tilesLeftCounter {
  color: green;
}
#flagsLeftCounter{
  color: red;
}
.row{
  display: inline-block;
  line-height: 58px;
  font-size: 30px;
  color: rgb(210, 210, 210);
}
.tile {
  display: inline-block;
  margin: 1px;

  width: 58px;
  height: 58px;

  background-color: rgb(180, 180, 180);
  text-align: center;
  /*vertical-align: middle;*/

}
.tile:hover {
  background-color: rgba(100, 100, 200, .1);
}
/*order is important, before tileHidden & other tile properties*/
.flagged {
  background-color: rgb(50, 50 , 50);
  color: rgb(255, 100, 100)
}
.tile-hidden {
  color: transparent;
  color: black;
}
.tile-bomb {
  color: black;
  background-color: rgb(163, 0, 0);
}
.tile-0 {
  background-color: orange;
}
.tile-1 {
  background-color: rgb(0, 150, 224);
}
.tile-2 {
  background-color: rgb(20, 140, 204);
}
.tile-3 {
  background-color: rgb(40, 130, 184);
}
.tile-4 {
  background-color: rgb(60, 120, 164);
}
.tile-5 {
  background-color: rgb(80, 110, 144);
}
.tile-6 {
  background-color: rgb(100, 100, 124);
}
.tile-7 {
  background-color: rgb(120, 90, 104);
}
.tile-8 {
  background-color: rgb(140, 80, 84);
}
